%vas
	привет как дила че делаешь?
%div
	а я тут печеньками балуюсь
	проверка ереси и другой бессмысленной хрени
	%br
		вася дура
		писька
	#vas.fghh
		пипец
	#url
		= link_to 'sdfsdf', :action => :vasya
	%table
		%tbody
			%tr
				%td#5566.sdfgd
					вася дурак
					= @user.to_json
					= @user.photos.to_json

%br
	= @photos.to_json