%vas
	привет как дила че делаешь?
%div
	а я тут печеньками балуюсь
	проверка ереси и другой бессмысленной хрени
	%br
		вася дура
		писька
	#vas.fghh
		пипец
	#url
		= link_to 'sdfsdf', :action => :vasya
	%table
		%tbody
			%tr
				%td#5566.sdfgd
					user
					= @user.to_json(:include => :tracks)
					%br
					%br
					tracks
					= Track.all.to_json(:include => :user)

%br
	вася
	привет как дила че делаете?
	%input{:value=>' федя ', :name=>'txt', :type=>'text'}
- append_title(' ты кто такой ')
- prepend_title(' вася ')
- prepend_title(@user.name)
