<form action="">\
  <fieldset>
    <label for="title">
	    Название покатушки
    </label>
    <input type="text" id="title" name="title" value="">
    <br>
	  <label for="startdate">
	    Дата старта покатушки
    </label>
    <input type="text" id="startdate" name="startdate" value="">
    <br>
    <input type="submit">
  </fieldset>
</form>