* {
	margin: 0;
}
html, body {
	height: 100%;
}
body {
	background-image: url('/images/circles.png');
}

* div, * nav, footer, section {
	border-radius: 5px;
}

/* start background color for blocks */
header, aside.middle-line, nav.menu-wrapper, section.content-wrapper, footer {
	background-color: #d3d3d3;
}
/* end background color for blocks */

.wrapper {
	width: 90%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -42px; /* the bottom margin is the negative value of the footer's height */
}

header {
	height: 110px;
	overflow: hidden;
}

.logo-wrapper {
	height: 100px;
	width: 200px;
	float: left;
	margin-right: -200px;
}

.hello-wrapper {
	height: 100px;
	margin: 0 0 0 210px;
}

.search-wrapper {
	height: 80px;
	width: 200px;
	margin: 10px;
	float: right;
}

.middle-line {
	margin: 10px 0 10px;
	height: 20px;
	padding: 10px;
}

.menu-wrapper {
	display: block;
	float: left;
	width: 200px;
	margin: 0 -200px 0 0;
	overflow: hidden;
}

.main-menu {
	display: block;
}

.menu-item {
	display: block;
}

.content-wrapper {
	margin: 0 0 0 210px;
	overflow: hidden;
}

footer {
	width: 90%;
	padding: 10px 0;
	margin: 0 auto;
	height: 20px;
}

.for-footer {
	height: 42px;
}

form {

}

form.form-main {
	width: 90%;
}

.track-map-create {
	width: 90%;
	height: 400px;
}