<!DOCTYPE html>
<html>
<head>
  <title>Master</title>
  <%= stylesheet_link_tag collect_css('.*') %>
  <%= javascript_include_tag collect_js('*') %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
